{% macro volumes_mapping(vols) %}
{% for volume in vols %}
- {{ volume.name }}:{{ volume.mount }}
{% endfor %}
{% endmacro %}

{% macro volumes_mapping_full(vols) %}
volumes:
  {{ volumes_mapping(vols)|indent(width = 2) -}}
{% endmacro %}

{% macro __named_bind_volumes_declaration(vols) %}
volumes:
{% for volume in vols %}
  {{ volume.name }}:
    driver: local
    driver_opts:
      type: none
      device: {{ volume.local_folder }}
      o: bind
{% endfor %}
{% endmacro %}

{% macro __local_persist_volumes_declaration(vols) %}
volumes:
{% for volume in vols %}
  {{ volume.name }}:
    driver: local-persist
    driver_opts:
      mountpoint: {{ volume.local_folder }}
{% endfor %}
{% endmacro %}

{% macro volumes_declaration(vols) %}
{{ __local_persist_volumes_declaration(vols) }}
{% endmacro %}

{% macro datetime_mapping() %}
- /etc/localtime:/etc/localtime:ro
- /etc/timezone:/etc/timezone:ro
{% endmacro %}

{% macro mount_docker_socket() %}
- /var/run/docker.sock:/var/run/docker.sock:ro
{% endmacro %}

{% macro volumes_section_complete(vols) %}
{% if vols is not defined %}
{% set vols = [] %}
{% endif %}
{{ volumes_mapping_full(vols) }}
  {{ datetime_mapping()|indent(width = 2) -}}
{% endmacro %}
