[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sds011 = "*"
python-aqi = "*"
paho-mqtt = "*"
adafruit-circuitpython-bme680 = "*"
adafruit-blinka = "*"
bme680 = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
